p.header{
    font-weight: bold;
        font-size: 24px
}

p.dateOfBirth{
    color: green;
}

p.champion{
    color: red;
}

p.mainText{
    font-style: italic;
    color: blue;
}

p a::before{
    content: url('http://fe.it-academy.by/Sites/0041787/extref.png');
}

@media print{
    .botvinnik{
        
    }
}