@import "form_style.css";

@media all and (max-width: 600px){
    .title{

    }

    .title__1{
        display: none;
    }

    .title__2{
        display: block;
    }

    .article__title{
        float: initial;
    }

    .window__1{
        margin-left: 0;
    }

    .heading{
        float: initial;
    }

    .cell__2{
        width: 100%;
    }
    
    .window__2{
        margin-left: 0;
    }

    .publication{
        float: initial;
    }
    
    .window__3{
        display: none;

    }

    .window__3_1{
        display: block;
        margin-left: 0;
    }
}